ion-content {
    --background: white;
    text-align: center;
}

h1 {
    font-family: 'PT Sans', sans-serif;
    font-weight: bolder;
    color: black;
}

img {
    margin-top: 6vh;
    height: 25vh;
}

p {
    margin-right: 2vh;
    margin-left: 2vh;
    text-align: justify;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    color: black;
}

ion-button {
    --background: #FF4463;
    color: white;
    position: absolute;
    right: 1vh;
}
ion-icon{
    color: white;
}